@model IEnumerable<Contact>
<nav class="navigation-bar row">
    <h2 class="text-white col-10 ml-3 p-0 m-0">Nuevo chat personal</h2>
    <a class="btn-claro my-0" asp-action="ChatType">Regresar</a>
</nav>
<div class="col-10 offset-1">
    <h2 class="row mt-5 text-center titulo-lista">Elija un contacto con el que desea iniciar un chat</h2>
    @foreach (var request in Model)
    {
        <div class="container row request">
            <h3 class="col-9 item">@request.Username</h3>
            <a class="btn-principal marginx padding-btn col-2" href="@Url.Action("CreateChatP", request)">Crear</a>
        </div>
    }
</div>

@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}