<div class="container justify-content-center align-content-center">
    <h2>Inicio de sesión</h2>
    <form asp-action="Login">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Usuario</span>
            <input type="text" name="User" class="form-control" aria-label="Usuario" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Contraseña</span>
            <input type="password" name="Password" class="form-control" aria-label="Contraseña" aria-describedby="basic-addon2" required>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Iniciar sesión</button>
            <a class="btn btn-success" asp-action="Register">Registrarse</a>
        </div>
    </form>
</div>